<div class="col-sm-2">Дата операции</div>
<div class="col-sm-2" ng-bind='data.date'></div>
<div class="clearfix"></div>
<div class="col-sm-2">Вид операции</div>
<div class="col-sm-2" ng-bind='data.action.fullValue'></div>
<div class="clearfix"></div>
<div class="col-sm-2">Пользователь</div>
<div class="col-sm-2" ng-bind='data.user.fio'></div>
<div class="clearfix"></div>
<div class="col-sm-12" ng-show="data.fields.length">
	<h3>Редактируемые значения</h3>
	<div ng-include="'partials/includes/fields.html'"></div>
</div>