<div class="btn-group pull-left" ng-show="edit">
	<button class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
	<button class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
	<button class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
</div>
<div class="text-center">{{title}}</div>
<div class="clearfix"></div>
<table class='table table-bordered table-striped table-hover'>
	<thead>
		<tr>
			<th>{{docType}}</th>
			<th>Дата начальная</th>
			<th>Дата конечная</th>
			<th>№ описи</th>
			<th>Количество дел</th>
			<th ng-show="edit"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data">
			<td ng-switch="edit">
				<span ng-switch-when="false" ng-bind='getText(item.type)'></span>
				<select ng-switch-when='true' ng-model="item.type" ng-options="type.id as type.fullValue for type in typeData" class='form-control'></select>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false">{{item.startDate}}</span>
				<input ng-switch-when="true" ng-model="item.startDate" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false">{{item.endDate}}</span>
				<input ng-switch-when="true" ng-model="item.endDate" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false">{{item.opisNumber}}</span>
				<input ng-switch-when="true" ng-model="item.opisNumber" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false">{{item.docsCount}}</span>
				<input ng-switch-when="true" ng-model="item.docsCount" class='form-control'/>
			</td>
			<td ng-show="edit"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
		</tr>
	</tbody>
</table>
