<div class="btn-group card-icons" ng-show='edit'>
	<button ng-click="add()" class="btn btn-default"><span class="btn-plus"></span></button>
	<button ng-click="down()" class="btn btn-default"><span class="-down"></span></button>
	<button ng-click="up()" class="btn btn-default"><span class="-up"></span></button>
</div>
<table style="width:100%" class='table table-bordered table-striped'>
	<thead>
		<tr>
			<th>Полное наименование и переименования</th>
			<th>Краткое наименование</th>
			<th>Подчинённость</th>
			<th>Даты</th>
			<th ng-show="edit"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in data">
			<td ng-switch="edit">
				<span ng-switch-when="false" ng-bind='item.full'></span>
				<input ng-switch-when='true' ng-model="item.full" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false" ng-bind='item.short'></span>
				<input ng-switch-when="true" ng-model="item.short" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false" ng-bind='item.sub'></span>
				<input ng-switch-when="true" ng-model="item.sub" class='form-control'/>
			</td>
			<td ng-switch="edit">
				<span ng-switch-when="false" ng-bind='item.date'></span>
				<input ng-switch-when="true" ng-model="item.date" class='form-control'/>
			</td>
			<td ng-show="edit"><button class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
		</tr>
	</tbody>
</table>