<div class='pull-left' ng-show="start()">Всего найдено: <span ng-bind="data.totalElements"></span></div>
<div class='form-inline text-center'>
	<div class="btn-group">
		<button class='btn btn-default' ng-disabled="first()" ng-click="load()">
			<span class="glyphicon glyphicon-step-backward"></span>
		</button>
		<button class='btn btn-default' ng-disabled="first()" ng-click="load({page: data.number - 1})">
			<span class="glyphicon glyphicon-triangle-left"></span>
		</button>
	</div>
	{{titlePage}}
	<input style="width: 55px" class='form-control' type='text' ng-disabled="!start()" ng-model='data.current'
		   ng-keypress="$event.which === 13 && load({page: data.current - 1})"/>
	из {{data.totalPages}}
	<div class="btn-group">
		<button class='btn btn-default' ng-disabled="last()" ng-click="load({page: data.number + 1})">
			<span class="glyphicon glyphicon-triangle-right"></span>
		</button>
		<button class='btn btn-default' ng-disabled="last()" ng-click="load({page: data.totalPages - 1})">
			<span class="glyphicon glyphicon-step-forward"></span>
		</button>
	</div>
</div>