<div>
	<div class='form-group'>
		<label class='col-sm-2'>Место хранения</label>
		<div class='col-sm-4' ng-bind="data.place"></div>
		<label class='col-sm-2'>Архив</label>
		<div class='col-sm-4' ng-bind="data.archive"></div>
	</div>

	<div class="clearfix"></div>

	<div class='form-group'>
		<label class='col-sm-2'>Уровень архива</label>
		<div class='col-sm-4' ng-bind="data.level"></div>
		<label class='col-sm-2'>Адрес архива</label>
		<div class='col-sm-4' ng-bind="data.adres"></div>
	</div>

	<div class="clearfix"></div>

	<div class='form-group'>
		<label class='col-sm-2'>Номер фонда</label>
		<div class='col-sm-4' ng-bind="data.fondNumber"></div>
		<label class='col-sm-2'>Телефон</label>
		<div class='col-sm-4' ng-bind="data.phone"></div>
	</div>

	<div class="clearfix"></div>

	<div class='form-group'>
		<label class='col-sm-2'>Название фонда</label>
		<div class='col-sm-4' ng-bind="data.fond"></div>
		<label class='col-sm-2'>Электронная почта</label>
		<div class='col-sm-4' ng-bind="data.email"></div>
	</div>

	<div class="clearfix"></div>

	<div class='form-group'>
		<label class="col-sm-2">Годы</label>
		<div class='col-sm-4' ng-bind="data.years"></div>
		<label class='col-sm-2'>Архивохранилище</label>
		<div class='col-sm-4' ng-bind="data.shron"></div>
	</div>

	<div class='clearfix'></div>

	<div class='form-group'>
		<label class="col-sm-2">Количество ед. хр.</label>
		<div class='col-sm-4' ng-bind="data.ucount"></div>
	</div>

	<div class='clearfix'></div>

	<div class="panel panel-default">
		<div class="panel-heading panel-title text-center">Состав документов</div>
		<table class='table table-bordered table-striped table-hover'>
			<thead>
				<tr>
					<th>Вид документа</th>
					<th>Дата начальная</th>
					<th>Дата конечная</th>
					<th>№ описи</th>
					<th>Количество дел</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.docs">
					<td>{{item.type}}</td>
					<td>{{item.startDate}}</td>
					<td>{{item.endDate}}</td>
					<td>{{item.opisNumber}}</td>
					<td>{{item.docCount}}</td>
				</tr>
			</tbody>
		</table>
		<div class="col-sm-2">Дополнительные сведения о составе документов</div>
		<div class="col-sm-10" ng-bind="data.dopInfo"></div>
	</div>
	<div class='clearfix'></div>
	<div class="col-sm-2">Примечание</div>
	<div class="col-sm-10" ng-bind="data.remark"></div>
	<div class='clearfix'></div>
