<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sic-storage</display-name>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>restricted access</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<role-name>*</role-name>
	</security-role>
	<servlet>
		<description>No description</description>
		<display-name>Authorization servlet</display-name>
		<servlet-name>Auth</servlet-name>
		<servlet-class>ru.insoft.archive.extcommons.servlet.Auth</servlet-class>
	</servlet>
	<servlet>
		<description>No description</description>
		<display-name>DescValuesProvider</display-name>
		<servlet-name>DescValuesProvider</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.DescValuesProvider</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryFundInfo</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.QueryFundInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryArchStorage</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.QueryArchStorage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveOrganization</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.SaveOrganization</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchOrganization</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.SearchOrganization</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryOrganization</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.QueryOrganization</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryOrgNames</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.QueryOrgNames</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryDocuments</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.QueryDocuments</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteOrganization</servlet-name>
		<servlet-class>ru.insoft.archive.sic_storage.servlet.DeleteOrganization</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>DescValuesProvider</servlet-name>
		<url-pattern>/servlet/DescValuesProvider</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/servlet/Auth</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryFundInfo</servlet-name>
		<url-pattern>/servlet/QueryFundInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryArchStorage</servlet-name>
		<url-pattern>/servlet/QueryArchStorage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveOrganization</servlet-name>
		<url-pattern>/servlet/SaveOrganization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchOrganization</servlet-name>
		<url-pattern>/servlet/SearchOrganization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryOrganization</servlet-name>
		<url-pattern>/servlet/QueryOrganization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryOrgNames</servlet-name>
		<url-pattern>/servlet/QueryOrgNames</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryDocuments</servlet-name>
		<url-pattern>/servlet/QueryDocuments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteOrganization</servlet-name>
		<url-pattern>/servlet/DeleteOrganization</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>ru.insoft.archive.extcommons.filter.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>1</session-timeout>
	</session-config>
</web-app>
