.quitButton{
    background:url( ../img/quitButton.png) no-repeat 0px 3px;
    margin-left:5px !important;
}
.quitButton .x-btn-inner{
    padding-left:15px !important;
}
.x-btn-default-toolbar-small .x-btn-inner,
.loginedUserText{
    padding-left:27px;
    color:#4C3931;
    font: 14px Arial;
}
.btnAdd{
    background:url( ../img/btnAdd.png) no-repeat;
    /*margin: 0 0 5px 5px !important;*/
}
.btnEdit{
    background:url( ../img/btnEdit.png) no-repeat;
}
.btnView{
    background:url( ../img/btnView.png) no-repeat;
}
.btnSave{
    background:url( ../img/btnSave.png) no-repeat;
}
.btnCancel{
    background:url( ../img/btnCancel.png) no-repeat;
}
.btnDelete,
.x-action-col-icon{
    background:url( ../img/btnDelete.png) no-repeat;
}
.addStr{
    background:url( ../img/addStr.png) no-repeat;
}
.upStr{
    background:url( ../img/upStr.png) no-repeat;
}
.downStr{
    background:url( ../img/downStr.png) no-repeat;
}
.srch{
     background:url( ../img/srch.png) no-repeat !important;
    height:24px;
}
#orgpage .srch .x-btn-inner-center{
    width:24px !important;
}
.clr{
    background:url( ../img/clr.png) no-repeat;
}
.back_main{
    background:url( ../img/back_main.png) no-repeat;
}
.backToSrch{
    background:url( ../img/backToSrch.png) no-repeat 0 50%;
}
.x-tbar-loading{
    background:url( ../img/refresh.png) no-repeat;
}
.addStr .x-btn-default-toolbar-small .x-btn-inner,
.upStr .x-btn-default-toolbar-small .x-btn-inner,
.downStr .x-btn-default-toolbar-small .x-btn-inner{
    padding-left:0px;
    width:20px;
}
.x-form-trigger,
.x-column-header-trigger{
    background:url( ../img/trigger-arrow.png) no-repeat;
    background-size: 100% 100%;
}
.x-form-trigger-over,
.x-form-trigger-wrap-focus .x-form-trigger{
    background:url( ../img/trigger-arrow-over.png) no-repeat;
    background-size: 100% 100%;
}
.storePlaceCard .x-btn-default-small{
    background: url("../img/close.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    margin: 7px;
}
/*.main_bg .x-panel-body-default*/
.x-body{
    background: url("../img/boxes_rats.png") no-repeat scroll 0 0 transparent;  /*крысяяяяяточки*/
    /*background: url("../img/boxes.png") no-repeat scroll 0 0 transparent;*/
    background-size: 100% 100%;
}
.bg_key{
    background-color:transparent;
    background:url( ../img/key.png) 0 50% no-repeat;
}
.bg_key .x-btn-inner{
    font:bold 14px Arial;
    color:#230F07;
    text-decoration:underline;
}
.x-tool-img, x-tool-over{
    background: url("../img/close.png") no-repeat scroll 0 0 transparent !important;
}