body {
	padding-top: 12px;
}
.ng-cloak {
	display: none !important;
}
.page-header {
	margin: 10px 0 20px;
}
.panel-default > .panel-heading {
	color: #560101;
	background: url("../img/line.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
	height: 30px;
	padding: 5px 0;
}
.panel.panel-primary {
	border: 1px solid #3F2013;
	border-radius: 0px;
	background-color: #F2EDE0;
}

.vertical-separator {
	font-size: 11px;
	margin: 0 -5px 0 5px;
}
.page-header {
	border-bottom: 2px solid;
    border-image: url("../img/tit_bot_search.png") 0 1 10 10;
    padding-bottom: 10px;
}
.page-header, .control-label {
	color: #452111;
}

#greeting {
	position: absolute;
	width: 200px;
	top: 50px;
	left: 40%;

	-webkit-transition:all linear 0.5s;
	-moz-transition:all linear 0.5s;
	-o-transition:all linear 0.5s;
	transition:all linear 0.5s;
}

#greeting.ng-hide {
	opacity:0;
	top: 0;
}

.fio-section {
	padding-top: 2px;
}
