.x-grid-header-ct{
    height:40px;
}
.x-column-header,
.x-column-header:hover{
    height:40px;
    color:#230F07;
    font:14px Arial;
    text-align: center;
    border:1px solid #BFAE97;
    background-image: none;
    vertical-align: middle;
}
.x-column-header-inner{
    height:40px;
    vertical-align: middle;
}
.x-column-header{
    background-color: #EEE8D9 !important;
}
.x-column-header:hover,
.x-column-header-over:after{
    background-color: #E3D7C7 !important;
    background-image: none;
}
.x-column-header-sort-DESC .x-column-header-text{
    background-image:url( ../img/arrow_small.png);
}
.x-column-header-sort-ASC .x-column-header-text{
    background-image:url( ../img/arrow_up_small.png);
}