<div class='form-group form-inline'>
	<button class='btn btn-default' ng-disabled="ctrl.isFirst()" ng-click="ctrl.firstPage()">Первая</button>
	<button class='btn btn-default' ng-disabled="ctrl.isFirst()" ng-click="ctrl.prevPage()">Предыдущая</button>
	Страница 
	<input style="width: 50px" class='form-control' type='text' ng-model='ctrl.pages.current' ng-change="ctrl.pageChanged()" 
		   ng-keypress="$event.which === 13 && loadPage(ctrl.pages.current)"/>
	из {{ctrl.maxPages}}
	<button class='btn btn-default' ng-disabled="ctrl.isLast()" ng-click="ctrl.nextPage()">Следующая</button>
	<button class='btn btn-default' ng-disabled="ctrl.isLast()" ng-click="ctrl.lastPage()">Последняя</button>
	<div style="display:inline-block;float: right">Отображаются записи с по</div>
</div>
