<button ng-disabled="ctrl.isFirst()" ng-click="ctrl.firstPage()">Первая</button>
<button ng-disabled="ctrl.isFirst()" ng-click="ctrl.prevPage()">Предыдущая</button>
Страница 
<input type='text' ng-model='ctrl.pages.current' ng-change="ctrl.pageChanged()" 
	   ng-keypress="$event.which === 13 && loadPage(ctrl.pages.current)"/>
из {{ctrl.maxPages}}
<button ng-disabled="ctrl.isLast()" ng-click="ctrl.nextPage()">Следующая</button>
<button ng-disabled="ctrl.isLast()" ng-click="ctrl.lastPage()">Последняя</button>
<div style="display:inline-block;float: right">Отображаются записи с по</div>
