<div sp-paginator="" data="ctrl.result" load="ctrl.loadPage(page)" title-page="Карточка" ng-show="!ctrl.edit"></div>
<div class="panel panel-default">
	<div class="panel-heading panel-title">Наименование организации и её переименования</div>
	<table class='table table-bordered table-hover table-striped'>
		<thead>
			<tr>
				<th>Полное наименование и переименования</th>
				<th>Краткое наименование</th>
				<th>Подчинённость</th>
				<th>Даты</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in ctrl.result.content[0].names">
				<td>{{item.full}}</td>
				<td>{{item.short}}</td>
				<td>{{item.sub}}</td>
				<td>{{item.date}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-title">Места хранения</div>
	<div class="panel-body">
		<div sp-paginator="" data="ctrl.place" load="ctrl.loadPlace(page)" title-page="Запись"></div>
		<div sp-store-card="" data="ctrl.place.content[0]" edit='ctrl.edit'></div>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-title">Сведения о награждениях</div>
	<div sp-docs-table="" doc-type='Название награды' data='ctrl.result.content[0].rewards' type-data='rewardTypes' edit='ctrl.edit'></div>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-title">Сведения о загранкомандировках</div>
	<div sp-docs-table="" doc-type='Вид документа' data='ctrl.result.content[0].trips' type-data='tripTypes' edit='ctrl.edit'></div>
</div>

<div class="col-sm-6 text-right">Имя пользователя:	<span ng-bind="ctrl.result.content[0].user"></span></div>
<div class="col-sm-6">Дата корректировки: <span ng-bind="ctrl.result.content[0].date"></span></div>