<div sp-paginator="" data="ctrl.record" load="ctrl.loadRecord(page)" title-page="Запись"></div>
<div class="panel-body">
	<div class="col-sm-2">Архив</div>
	<div class="col-sm-2">Тот самый архив</div>
	<div class="clearfix"></div>
	<div class="col-sm-2">Уровень архива</div>
	<div class="col-sm-2">Тот самый уровень</div>
	<div class="clearfix"></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading panel-title" ng-bind="ctrl.title"></div>
	<div class="panel-body">
		<div sp-change-card="" data='op' ng-repeat="op in ctrl.operations"></div>
	</div>
</div>
