<div ng-switch="ctrl.page && true">
	<div ng-switch-when="true" sp-paginator="" data="ctrl.page" load="ctrl.loadPage(page)" title-page="Запись"></div>
</div>
<div class="panel-body">
	<div class="col-sm-2">Организация</div>
	<div class="col-sm-2" ng-bind="ctrl.data.name"></div>
	<div class="clearfix"></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading panel-title" ng-bind="ctrl.title" ng-click='ctrl.changeShow()' ng-class="{
				'hist-hide': ctrl.show, 'hist-show': !ctrl.show}"></div>
	<div class="panel-body" ng-show='ctrl.show'>
		<div sp-change-card="" data='op' ng-repeat="op in ctrl.data.operations" class="change-info"></div>
	</div>
	<div class="panel-body" ng-show='!ctrl.show'>
		<div sp-change-card="" data='ctrl.data.operations[0]' class="change-info"></div>
	</div>
</div>
