<div class="panel panel-default">
	<div class="panel-heading panel-title">Параметры поиска</div>
	<div class="panel-body">
		<form  ng-submit="ctrl.loadPage()" class="form-horizontal">
			<div class='form-group'>
				<label for="nameorg" class="col-sm-3 control-label">Наименование организации</label>
				<div class="col-sm-5">
					<input id="nameorg" ng-model="ctrl.crit.org" class='form-control'/>
				</div>
			</div>
			<div class='form-group'>
				<label for="doctype" class="col-sm-3 control-label">Вид документов</label>
				<div class="col-sm-5">
					<select id="doctype" ng-model="ctrl.crit.docType" ng-options="type.id as type.fullValue for type in docTypes" class='form-control'></select>
				</div>
			</div>
			<div class='form-group'>
				<label for="startYear" class="col-sm-3 control-label">Даты документов</label>
				<div class="col-sm-2" style='width: 9.5%'>
					<div class="input-group">
						<label for="startYear" class="input-group-addon control-label">c:</label>
						<input id="startYear" ng-model="ctrl.crit.startYear" class='form-control'/>
					</div>
				</div>
				<div class="col-sm-2" style='width: 10.15%'>
					<div class="input-group">
						<label for="endYear" class="input-group-addon control-label">по:</label> 
						<input id="endYear" ng-model="ctrl.crit.endYear" class='form-control'/>
					</div>
				</div>
			</div>
			<div class='form-group'>
				<label for="archive" class='col-sm-3 control-label'>Архив</label>
				<div class='col-sm-5'>
					<select id="archive" ng-model="ctrl.crit.archive" ng-options="archive.id as archive.fullValue for archive in archives" class='form-control'></select>
				</div>
			</div>
			<div class='form-group'>
				<label for="archiveLevel" class='col-sm-3 control-label'>Уровень архива</label>
				<div class='col-sm-5'>
					<select id="archiveLevel" ng-model="ctrl.crit.level" ng-options="level.id as level.fullValue for level in levels" class='form-control'></select>
				</div>
			</div>
			<div class='form-group'>
				<label for="fundNumber" class='col-sm-3 control-label'>№ фонда:</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input ng-model="ctrl.crit.prefix" class="form-control" style='width: 60px'/>
						<input id="fundNumber" ng-model="ctrl.crit.number" class='form-control' style='width: 60px'/>
						<input ng-model="ctrl.crit.suffix" class='form-control' style='width: 60px'/>
					</div>
				</div>
			</div>
			<div class='form-group'>
				<div class="col-sm-offset-3 col-sm-2">
					<div style="display: inline-block; width: 60px">префикс</div>
					<div style="display: inline-block; width: 60px" class="text-center">№</div>
					<div style="display: inline-block; width: 60px">литера</div>
				</div>
			</div>
			<input type='submit' hidden=""/> 
		</form>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading panel-title">Результаты поиска</div>
	<div sp-paginator="" data="ctrl.result" load="ctrl.loadPage(page)" title-page="Страница" show-info="true"></div>
	<div class="panel-body">
		<table class='table table-bordered table-striped table-hover'>
			<thead>
				<tr>
					<th>Название организации</th>
					<th>Архив</th>
					<th>Фонд</th>
					<th>Крайние даты</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in ctrl.result.content" ng-dblclick="ctrl.viewCard($index)">
					<td>{{item.organization}}</td>
					<td>{{item.archive}}</td>
					<td>{{item.fund}}</td>
					<td>{{item.years}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
