<div sp-paginator="" data="ctrl.result" load="ctrl.loadPage(page)"></div>
<div class="panel panel-default">
	<div class="panel-heading panel-title">Наименование организации и её переименования</div>
	<table class='table table-bordered table-hover table-striped'>
		<thead>
			<tr>
				<th>Полное наименование и переименования</th>
				<th>Краткое наименование</th>
				<th>Подчинённость</th>
				<th>Даты</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in ctrl.result.names">
				<td>{{item.full}}</td>
				<td>{{item.short}}</td>
				<td>{{item.sub}}</td>
				<td>{{item.date}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading panel-title text-center">Фондовая принадлежность</div>
	<div class="panel-body">
		<div class='form-group'>
			<label class='col-sm-1 control-label'>Архив:</label>
			<div class='col-sm-5'>Какой-то архив</div>
			<label class='col-sm-2 control-label'>Название фонда:</label>
			<div class='col-sm-4'>Мой новый фонд</div>
		</div>
		<div class="clearfix"></div>
		<div class='form-group'>
			<label class='col-sm-1 control-label'>№ фонда:</label>
			<div class='col-sm-5'>A-1234-xb</div>
			<label class='col-sm-2 control-label'>Крайние даты фонда:</label>
			<div class='col-sm-4'>1921-1924</div>
		</div>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading panel-title text-center">Места хранения</div>
	<div class="panel-body">
		<div class='panel panel-primary'>
			<div class='panel-body' style='position: relative;'>
				<div class='form-group'>
					<label class='col-sm-2'>Место хранения:</label>
					<div class='col-sm-4'>В архиве</div>
					<label class='col-sm-1'>Адрес:</label>
					<div class='col-sm-5'>1112, Москва, ул. Адмирала, д. 18</div>
				</div>
				<div class="clearfix"></div>
				<div class='form-group'>
					<label class='col-sm-2'>Архив:</label>
					<div class='col-sm-4'>Российский государственный книжный архив</div>
					<label class='col-sm-1'>Телефон:</label>
					<div class='col-sm-5'>1234134</div>
				</div>
				<div class="clearfix"></div>
				<div class='form-group'>
					<label class='col-sm-2'>Кол-во ед. хр.:</label>
					<div class='col-sm-4'>12</div>
					<label class="col-sm-1">Годы</label>
					<div class="col-sm-2" style='width: 9.5%'>
						<div class="input-group">
							<label class="input-group-addon">c:</label>
							<span class="form-control">1341</span>
						</div>
					</div>
					<div class="col-sm-3" style='width: 10.15%'>
						<div class="input-group">
							<label class="input-group-addon">по:</label> 
							<span class="form-control">1941</span>
						</div>
					</div>
				</div>
				<div class='clearfix'></div>
				<table class='table table-bordered table-hover table-striped'>
					<thead>
						<tr>
							<th>Вид документа</th>
							<th>Даты</th>
							<th>№ описи</th>
							<th>Количество дел</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class='form-group'>
					<label class='col-sm-2'>Состав документов:</label>
					<div class='col-sm-10'>hello</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='form-group'>
	<label class='col-sm-2 control-label'>Сведения о загранкомандировках:</label>
	<div class='col-sm-10'>-</div>
</div>
<div class="clearfix"></div>
<div class='form-group'>
	<label class='col-sm-2 control-label'>Сведения о награждениях:</label>
	<div class='col-sm-10'>-</div>
</div>
<div class="clearfix"></div>
<div class='form-group'>
	<label class='col-sm-2 control-label'>Примечание:</label>
	<div class='col-sm-10'>-</div>
</div>
<div class="clearfix"></div>
<div class="form-group">
	<label class='col-sm-3 col-sm-offset-2 control-label text-right'>Имя пользователя:</label>
	<div class='col-sm-2'>Иванов-Благодатских С. А.</div>
	<label class='col-sm-2 control-label text-right'>Дата корректировки:</label>
	<div class='col-sm-1'>18.10.2015г.</div>
</div>

