<div sp-paginator="" data="ctrl.result" load="ctrl.loadPage(page)" title-page="Карточка"></div>
<div class="panel panel-default">
	<div class="panel-heading panel-title">Наименование организации и её переименования</div>
	<table class='table table-bordered table-hover table-striped'>
		<thead>
			<tr>
				<th>Полное наименование и переименования</th>
				<th>Краткое наименование</th>
				<th>Подчинённость</th>
				<th>Даты</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in ctrl.result.names">
				<td>{{item.full}}</td>
				<td>{{item.short}}</td>
				<td>{{item.sub}}</td>
				<td>{{item.date}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading panel-title">Места хранения</div>
	<div class="panel-body">
		<div sp-paginator="" data="ctrl.place" load="ctrl.loadPlace(page)" title-page="Запись"></div>
		<div sp-store-card="" data="ctrl.place"></div>
	</div>
</div>
